/*
!/wp-content
/wp-content/*
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/advanced-custom-fields-pro
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/qubedwp
!/wp-content/themes/qubedwp-child
!/.gitignore
!/README.md
!/LICENSE.md