.grecaptcha-badge {
    visibility: hidden!important;
}

/*----- RESET -----*/
*, *::before, *::after {
    box-sizing: border-box;
}

*:focus {
    outline: 0!important;
    box-shadow: none!important;
}

/*----- ROOT -----*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    color: var(--bs-body-color);
}

a {
    color: var(--bs-primary);
}

/*----- ELEMENTS -----*/
/*----- TYPOGRAPHY -----*/
h1, h2, h3, h4, h5, h6 {
    color: var(--bs-body-color);
}

/*----- COLORS -----*/
.bg-primary {
    background-color: var(--bs-primary)!important;
}

.bg-secondary {
    background-color: var(--bs-secondary)!important;
}

.text-body {
    color: var(--bs-body-color)!important;
}

.text-primary {
    color: var(--bs-primary)!important;
}

.text-secondary {
    color: var(--bs-secondary)!important;
}

/*----- BUTTONS -----*/
.btn {
    border: 0;
    border-radius: 5px;
}

.btn-primary {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

.btn-primary:hover {
    color: var(--bs-white);
    background-color: var(--bs-primary-hover);
}

.btn-outline-primary {
    color: var(--bs-primary);
    background-color: var(--bs-white);
}

.btn-secondary {
    color: var(--bs-white);
    background-color: var(--bs-secondary);
}

.btn-secondary:hover {
    color: var(--bs-white);
    background-color: var(--bs-secondary-hover);
}

.btn-outline-secondary {
    color: var(--bs-secondary);
    background-color: var(--bs-white);
}

/*----- NAVBAR -----*/
.navbar {
    transition: .3s ease-in-out;
}

.navbar-brand,
.navbar-brand img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px!important;
    width: auto!important;
}

.navbar-toggler {
    border-radius: 5px;
    background-color: var(--bs-white);
}

#navbarMenuSupportedContent .navbar-nav {
    border-radius: 5px;
    background-color: var(--bs-white);
}

#navbarMenuSupportedContent .navbar-nav .nav-item:first-child > .nav-link {
    border-radius: 5px 0 0 5px;
}

#navbarMenuSupportedContent .navbar-nav .nav-item:last-child > .nav-link {
    border-radius: 0 5px 5px 0;
}

#navbarMenuSupportedContent .navbar-nav:not(#menu-header-menu) .nav-item > .nav-link {
    color: var(--bs-body-color);
    padding: .5rem 1rem;
}

.navbar-nav .nav-item > .nav-link {
    color: var(--bs-body-color);
    padding: .5rem 1rem;
}

.navbar-nav:not(#menu-header-menu) .nav-item > .nav-link {
    color: var(--bs-white);
    padding: .25rem 1rem;
}

.navbar-nav .nav-item.cta-item > *:not(.dropdown-menu) {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

.navbar-nav .nav-item.cta-item > *:not(.dropdown-menu):hover {
    color: var(--bs-primary);
    background-color: var(--bs-white);
}

.navbar-nav:not(#menu-header-menu) .nav-item.cta-item > *:not(.dropdown-menu) {
    color: var(--bs-primary);
    background-color: var(--bs-white);
}

.navbar-nav:not(#menu-header-menu) .nav-item.cta-item > *:not(.dropdown-menu):hover {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

.navbar-nav .dropdown-item.active, .navbar-nav .dropdown-item:active {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

/*----- FOOTER -----*/
footer a {
    text-decoration: none;
}

.footer-brand,
.footer-brand img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px!important;
    width: auto!important;
}

footer .menu-item-has-children .sub-menu {
    margin-bottom: 1.5rem;
}

footer .menu-item-has-children > a {
    font-size: 1.5rem;
    font-weight: 500;
}

/*----- WOOCOMMERCE -----*/
.woocommerce .price {
    font-size: 14px!important;
    color: var(--bs-body-color)!important;
    margin-bottom: 0!important;
}

.woocommerce .add_to_cart_button {
    font-weight: 400!important;
    color: var(--bs-white)!important;
    background-color: var(--bs-primary)!important;
    border-radius: 5px!important;
    margin-top: 1.5rem!important;
}

@media screen and (max-width:1399px) {
    #navbarMenuSupportedContent {
        position: absolute;
        top: calc(100% + 2rem);
        right: .75rem;
        min-width: 200px;
    }

    #navbarMenuSupportedContent .navbar-nav {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }

    #navbarMenuSupportedContent .navbar-nav:not(:first-child) {
        margin-top: 1rem;
    }

    #navbarMenuSupportedContent .navbar-nav .nav-item:first-child > .nav-link {
        border-radius: 5px 5px 0 0;
    }

    #navbarMenuSupportedContent .navbar-nav .nav-item:last-child > .nav-link {
        border-radius: 0 0 5px 5px;
    }
}

@media screen and (max-width:991px) {

}

@media screen and (max-width:767px) {

}

@media screen and (max-width:575px) {

}